<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7sS8v1gEA3mS6h5bs1l7wiiUw2mXAHKM</string>
	<key>GCM_SENDER_ID</key>
	<string>178915042787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiyatrokulubu</string>
	<key>PROJECT_ID</key>
	<string>tiyatro-c307e</string>
	<key>STORAGE_BUCKET</key>
	<string>tiyatro-c307e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178915042787:ios:251c6d36b15151a3b4acd6</string>
	<key>DATABASE_URL</key>
	<string>https://tiyatro-c307e-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>